* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: #fff;
    background: #F7F7F7;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#navbar {
    border-bottom: 1px solid #e4dddd; 
}   
.loginBtn-holder {
    margin-top: 15px;
}
#loginBtn {
    margin-right: 10px;
    border: 1px solid #fb7c6d;
}
.c-my-btn {
    background: #fb7c6d;
    color: #fff;
}



