* {
    padding: 0;
    margin: 0;
}

#postjob-container > .postjob-wrapper > .postjob-card-container >  .postjob-card {
    background: #fff;
    color: #000;
    height: auto;
    margin-bottom: 9px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 6px;
    box-sizing: border-box;
    overflow: hidden;
}
#postjob-container > .postjob-wrapper > .postjob-card-container >  .postjob-card:hover {
    transform: translateY(-4px);
    cursor: pointer;
}
#postjob-container > .postjob-wrapper > .postjob-card-container >  .postjob-card > div {
    align-items: center;
}
#postjob-container > .postjob-wrapper > .postjob-card-container >  .postjob-card > div > h6 > small {
    color: #fd9dae;
}
#postjob-container > .postjob-wrapper > .postjob-card-container >  .postjob-card > div > img {
    width: 61px;
    margin-top: 35px;
    border-radius: 50%;
    height: 55px;
}
#postjob-container > .postjob-wrapper > .postjob-card-container >  .postjob-card > div > h5 {
    width: 100%;
}


