#about-section > .about-holder > div > div > .about-my-job-img img {
    width: 480px;
    height: 375px;
    margin: 10px;
}
#about-section > .about-holder > div > div > .pathners > div > h4 {
    color: #968383e0;
    line-height: 1.5em;
}
.pathner-border {
    border: 2px dashed #968383e0;  
    width: 90%;
}
#about-section > .about-holder > div > div > .pathners > .about-img-holder img {
    width: 20%;
    margin: 10px;
    padding: 10px;
}
#about-section > .about-holder > div > div > .pathners > .about-img-holder h6 {
    color: #968383e0;
}

@media screen and (max-width: 440px) {
    #about-section > .about-holder {
        width: 95%;
    }
    #about-section > .about-holder > div > div > .about-my-job-img img {
        width: 80%;
    }  
    #about-section > .about-holder > div > div > .pathners > div > h4 {
        text-align: center;
    }
    #about-section > .about-holder > div > div > .pathners > .about-img-holder img {
        width: 26%;
        margin: 10px;
        padding: 10px;
    }
} 
@media screen and (max-width: 430px) {
    #about-section > .about-holder {
        width: 95%;
    }
    #about-section > .about-holder > div > div > .about-my-job-img img {
        width: 80%;
    }  
    #about-section > .about-holder > div > div > .pathners > div > h4 {
        text-align: center;
    }
    #about-section > .about-holder > div > div > .pathners > .about-img-holder img {
        width: 40%;
        margin: 10px;
        padding: 10px;
    }
} 
@media screen and (max-width: 411px) {
    #about-section > .about-holder {
        width: 95%;
    }
    #about-section > .about-holder > div > div > .about-my-job-img img {
        width: 80%;
    }  
    #about-section > .about-holder > div > div > .pathners > div > h4 {
        text-align: center;
    }
    #about-section > .about-holder > div > div > .pathners > .about-img-holder img {
        width: 40%;
        margin: 10px;
        padding: 10px;
    }
} 
@media screen and (max-width: 360px) {
    #about-section > .about-holder {
        width: 95%;
    }
    #about-section > .about-holder > div > div > .about-my-job-img img {
        width: 80%;
    }  
    #about-section > .about-holder > div > div > .pathners > div > h4 {
        text-align: center;
    }
    #about-section > .about-holder > div > div > .pathners > .about-img-holder img {
        width: 40%;
        margin: 10px;
        padding: 10px;
    }
} 