.job-find-detail {
    color: #624098c2;
}
#postJob:hover {
    transform: translateX(4px);
}
#postJob:focus {
    transform: translateX(-14px);
    transform: scaleY(0.9);
}
#postJob:active {
    transform: scale(1.2);
}
