* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: #fff;
    background: #f3f1f1;
    /* font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#navbar {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #e4dddd; 
}
#navbar > #container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0px auto;
}
#navbar > #container > .brand-holder  {
    margin-top: 11px;
}
#navbar > #container > .brand-holder > h2 > i > .brand {
    color: #624098c2;
    text-decoration: none;
}
#navbar > #container > ul li {
    display: inline-flex;
    list-style: none;
    padding: 5px;
    margin: 5px;
}
#navbar > #container > ul > li > a {
    text-decoration: none;
    color: #5d5959;
    padding-top: 10px;
}
#navbar > #container > ul > li > a:hover {
    text-decoration: underline;
    color: #6d6969;
}
.loginBtn-holder {
    margin-top: 15px;
}
#loginBtn {
    background: #fb7c6d;
    color: #fff;
    /* background: #ff8148; */

}
.c-my-btn {
    background: #fb7c6d;
    color: #fff;
}
/* herosection */
#hero-section {
    background: #fff;
    height: auto;
}
#hero-section .hero-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0px auto;
    padding: 3rem 0rem 3rem 0rem;
}
#hero-section > .hero-wrapper > div > h1 {
    color: #312c2c;
    padding: 5px;
    font-size: 3.2em;
}
#hero-section .hero-wrapper > div > p {
    color: #968383e0;
    padding: 5px;
}
#hero-section > .hero-wrapper > div > #hero-btn-click {
    background: #fb7c6d;
    color: #fff;
}
.job-find-detail {
    color: #624098c2;
}
.category-heading {
    color: #312c2c;
    width: 90%;
}
.category_cards {
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
}
.category_cards > div {
    background: #fff;
    color: #000;
    width: 23%;
    height: auto;
    margin-bottom: 9px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 6px;
}
.category_cards > div:hover {
    background: #fb7c6d;
    cursor: pointer;
}
.category_cards > div:hover button.category-btn {
    background: #fff!important;
    color: #000;
}
.category_cards > div > div > div {
    align-items: center;
}
.category_cards > div > div > div > img {
    width: 55px;
    border-radius: 50%; 
}
.category_cards > div > div > div > pre {
    color: #fff;
}
.category_cards > div > h5 {
    width: 100%;
}
.category_cards > div > button {
    background: #fb7c6d;
    color: #fff;
}