* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: #000;
    background: #F7F7F7;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.c-my-btn {
    background: #fb7c6d;
    color: #fff;
}
.searching-job-cards > .searching-job-cards-wrapper >  .searching-job-apply-card-container > .searching-job-apply-card {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.searching-job-cards > .searching-job-cards-wrapper >  .searching-job-apply-card-container > .searching-job-apply-card > .searching-job-card{
    align-items: center;

}
.searching-job-cards > .searching-job-cards-wrapper >  .searching-job-apply-card-container > .searching-job-apply-card > .searching-job-card {
    display: flex;
    justify-content: space-between;
}
.searching-job-cards > .searching-job-cards-wrapper >  .searching-job-apply-card-container > .searching-job-apply-card > .searching-job-card div > img {
    width: 100px;
    border-radius: 50%;
    height: 100px;
}


/* show skeleton */
.searching-job-cards > .searching-job-cards-wrapper >  .searching-job-apply-card-container > .skeleton {
    height: 150px;
    background: #0000008f;
    margin-bottom: 9px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 6px;
    box-sizing: border-box;
    overflow: hidden;
    animation-name: slide-colors;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes slide-colors{
    0%{
        left: 0px;
        background-color: gray;
    }
    50%{
        left: 50px;
        background-color: rgb(59, 58, 58);
    }
    100%{
        left: 100px;
        background-color: #0009;
    }
}

@media screen and (max-width: 576px) {
    .noting_found > h4{
        font-size: 1.2em;
    }
    .noting_found > img{
        width: 80%;
        height: 200px;
    }
}
@media screen and (max-width: 440px) {
    .searchContent {
        padding-bottom: 3px;
        line-height: 1.5em;
    }
    .searching-job-cards > .searching-job-cards-wrapper >  .searching-job-apply-card-container > .searching-job-apply-card {
        flex-direction: column;
    }
    .searching-job-cards > .searching-job-cards-wrapper >  .searching-job-apply-card-container > .searching-job-apply-card > .searching-job-card {
        width: 100%;  
    } 
    .apply-holder a{
        margin-left: 13rem;
    }
}
@media screen and (max-width: 380px) {
    .searchContent > h3 {
        padding-bottom: 3px;
        font-size: 1.5em;
        line-height: 1.5em;
    }
    .searching-job-cards > .searching-job-cards-wrapper >  .searching-job-apply-card-container > .searching-job-apply-card > .searching-job-card div > img {
        width: 75px;
        border-radius: 50%;
        height: 80px;
    }
}
@media screen and (max-width: 360px) {
    .apply-holder a{
        margin-left: 11rem;
    }
}
@media screen and (max-width: 320px) {
    .apply-holder a{
        margin-left: 9rem;
    }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
    .noting_found > h4{
        font-size: 1.2em;
    }
    .noting_found > img{
        width: 80%;
        height: 250px;
    }
    .searchContent > h3 {
        padding-bottom: 3px;
        line-height: 1.5em;
    }
    .searching-job-cards > .searching-job-cards-wrapper >  .searching-job-apply-card-container > .searching-job-apply-card div > img {
        width: 85px;
        border-radius: 50%;
        height: 80px;
    }
}