.trending-job-heading {
    color: #312c2c;
    width: 90%;
}
.trending-job-cards {
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
}
.trending-job-cards > div {
    background: #fff;
    color: #000;
    width: 30%;
    height: auto;
    margin-bottom: 9px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 6px;
}
.trending-job-cards > div > div {
    align-items: center;
}
.trending-job-cards > div > div > h6 > small {
    color: #fd9dae;
}
.trending-job-cards > div > div > img {
    width: 55px;
    margin-top: 15px;
    border-radius: 50%; 
}
.trending-job-cards > div > div > h5 {
    width: 100%;
}