* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* .company_logo {
    width: auto;
    height: auto;
}
.company_logo > img {
    width: 50%;
    height: 300px;
    border-radius: 9px;
}
.description {
    line-height: 2em;
} */

.c-my-btn {
    background: #fb7c6d;
    color: #fff;
}

@media screen and (max-width: 576px) {
    .company_logo > img {
        width: 100%;
        height: 300px;
        border-radius: 9px;
    }
}